<ion-header>
  <ion-toolbar>
    <ion-title>pedido</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button (click)="toggleMenu()">
      </ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div *ngFor="let vendedor of pedidos_duplicados">
    <div (click)="getListpedidos(vendedor.id_pedido, vendedor.empresa_pedido)" class="empresa" >
      <div  class="imagen">
        <img [src]="vendedor.imagen_empresa">
      </div>
      <div class="nombre">
        <p>{{vendedor.empresa_pedido}}</p>
      </div>    
      <div class="fecha">
        <p>{{vendedor.fecha_pedido}}</p>
      </div>
    </div>  
  </div>
  
  
</ion-content>
