ion-content{
    --ion-background-color: #e4e0ff;
}

.principal{
    height: 90%;
}

.titulo{
    width: 100%;
    height: 30px;
    font-size: 30px;
    color: #3880ff;
    margin-left: 6%;
}

.main2{
    height: 150px;
    width: 95%;
    margin-top: 5%;
}

.main{
    height: 150px;
    width: 95%;
    margin-top: 5%;

}
.main2{
    height: 150px;
    width: 95%;
    margin-top: 5%;

}
.card_prod{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 95%;
    height: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 45% 20%;
    box-shadow:  16px 16px 32px #c2bed9,
    -16px -16px 32px #ffffff;
}
.pedido{
    position: fixed;
    width: 100%;
    height: 30px;
    padding-left: 9%;
}
.card{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    border-radius: 20px;
    background-color: #e4e0ff;
    border-radius: 20px;
    box-shadow:  16px 16px 32px #c2bed9,
             -16px -16px 32px #ffffff;
}
.div1{
    height: 30%;
    width: 98%;
}


.div2 > .img_prod{
    width: 80%;
    height: 120px;
    margin-top: 8%;
    border-radius: 20px;
    margin-left: 8%;
}
.div2{
    grid-row: 1/3;
}

.div1 > h3{
    color: #3880ff;
}

.div3{
    width: 97%;
}

.div3 > p{
    color: #3880ff;

}
.div4 > h2{
    color: #3880ff;
}
.div4{
    grid-column-start: 2;
}

.pedido{
    width: 90%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
}

button{ 
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: #4970F0;
    color: white;
    -webkit-box-shadow: 7px 7px 18px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 18px -8px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 18px -8px rgba(0,0,0,0.75);
  }





/*
.card{
    height: 160px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #e4e0ff;
    border-radius: 20px;
    box-shadow:  16px 16px 32px #c2bed9,
             -16px -16px 32px #ffffff;
}
.main{
    display: grid;
    width: 93%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 60% 40% ;
    grid-template-rows: 25% 50% 25%;
}

.div1 > h3{
    margin-top: 10px;
    margin-left: 10px;
    color: #3880ff;
    font-weight: bold;
}
.div3 > p{
    margin-top: 10px;
    margin-left: 10px;
    text-align: justify;
    text-justify: inter-word;
    font-weight: normal;
    color: #3880ff;
}

.div4 > p{
    margin-top: 2px;
    margin-left: 10px;
    color: #3dc2ff;
    font-weight: bold;
    font-size: 25px;
}

.div2{
    grid-column: 2;
    grid-row: 1/4;
}

.div2 > img{
    height: 70%;
    width: 88%;
    margin-top: 25px;
    border-radius: 15px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 40%;
}


ion-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stars{    
    align-items: center;
    justify-content: center;
    text-align: center;
}

.total{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*/
