ion-container{
    height: 100%;
    position: relative;
}
ion-grid{
    width: 90%;
    border-radius: 20px;
    margin: 0;
    
    margin: auto;
    position: absolute;

}
ion-avatar{
    display: table;
    margin: 0 auto;
    width: 150px;
    height: 150px;

}