<ion-header>
  <ion-toolbar>
    <ion-title>mis pedidos
    </ion-title>
    <ion-button (click)="salir()" fill="clear" slot="end">
      <ion-icon slot="end" name="close-circle-outline"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="main" *ngFor="let pedido of pedidos_duplicados">
      <div class="div1">
        <img class="image_prod" [src]="pedido.imagen_pedido">
      </div>
      <div class="div2">
        <p style="color: #3880ff;">{{pedido.nombre_pedido}}</p>
        <p style="color: #3880ff;">{{pedido.subtotal}}</p>
      </div>
      <div class="div3">
        <div class="button1">
          <button (click)="suma(pedido.id_prepedido, pedido.cantidad_pedido, pedido.categoria_pedido, pedido.empresa, pedido.id_prod, pedido.imagen_pedido, pedido.nombre_pedido, pedido.subtotal)" class="btnplus">+</button>
        </div>
        <div class="value">
          <p style="color: #3880ff;" id="valor">{{pedido.cantidad_pedido}}</p>      
        </div>
        <div class="button2">
          <button (click)="resta(pedido.id_prepedido, pedido.cantidad_pedido, pedido.categoria_pedido, pedido.empresa, pedido.id_prod, pedido.imagen_pedido, pedido.nombre_pedido, pedido.subtotal)" class="btnless">-</button>
        </div>
      </div> 
      <div class="div4">
        <button shape="round" (click)="delete(pedido.id_prepedido)" class="delete">
          <ion-icon name="trash"></ion-icon>
        </button>
      </div>   
    </div>
    <br>
    <div class="subtotal">
      <div class="sub">
        <h2 style="color: #3880ff;">Subtotal:</h2>
      </div>
      <div class="valor">
        <h1 style="color: #3880ff; text-align: right;"><b>${{sub_TotalFinal}}</b></h1>
      </div>
    </div>
    <div class="confirmar">
      <ion-button expand="block" shape="round" style="height: 40px;" (click)="guardarPedidos()" >
        Confirmar Pedido
      </ion-button>
      <br>
      <ion-button expand="block" shape="round" style="height: 40px;" (click)="seguirComprando()">
        Seguir comprando
      </ion-button>
    </div>
  </div>
  
  
</ion-content>
