ion-content{
    --ion-background-color:#ffffff;
}

ion-list{
    --ion-item-background:#2C33FF;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
ion-item{
    --ion-item-background:#2C33FF;
    width: 100%;
}
.searchbar{
    background-color: #2C33FF;
    border-radius: 30px;
    width: 100%;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    box-shadow:  7px 7px 14px #d9d9d9,
             -7px -7px 14px #ffffff;

}

ion-searchbar{
    --ion-background-color:#2C33FF;
    
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.title{
    
    width: 80%;
    margin-top: 10px;
    margin-left: 15px;
}

.categoria{
    margin-left: 5px;
    border-radius: 20px;
    height: 90px;
    width: 97%;
    //background-color: #2C33FF;
    //box-shadow:  7px 7px 14px #d9d9d9,
    //         -7px -7px 14px #ffffff;

}
ion-segment{
    //background-color: red;
    height: 97%;
    
}
.ruleta{
    width: 100%;
    height: 99%;
    border-radius: 20px;
}
.sub_categoria{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    background: linear-gradient(rgba(#9384b721, 0.527), rgba(#151757, 0.932)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnPrMpCbLfpZWwGCsRGFdDqvzWqiYPJr5uiA&usqp=CAU");
    height: 80px;
    width: 150px;
    border-radius: 6%;
    box-shadow:  8px 8px 16px #bebebe,
             -8px -8px 16px #ffffff;
    
}

.silla{
    height: 100px;
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    background: linear-gradient(rgba(3, 0, 0, 0.527), rgba(0, 0, 0, 0.932)), url("https://lh3.googleusercontent.com/proxy/XPgqDfUyv-gTTny-wk5BDytVX5oC341gSOZqHLwLh9_gR0K51Nd2Qd09FY6xWhkeqhunZYrHmXnpurHd3muDqGvRrp83Rc214oRiBydwegg");
    border-radius: 6%;

}
.mesa{
    height: 100px;
    width: 200px;
    background: linear-gradient(rgba(3, 0, 0, 0.527), rgba(0, 0, 0, 0.932)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnPrMpCbLfpZWwGCsRGFdDqvzWqiYPJr5uiA&usqp=CAU");
    border-radius: 6%;
}
.velador{
    height: 100px;
    width: 200px;
    background: linear-gradient(rgba(3, 0, 0, 0.527), rgba(0, 0, 0, 0.932)), url("http://cdn.shopify.com/s/files/1/2596/6404/products/VeladoresAtacamaUlmo_ISO_FONDOBLANCO3_grande.jpg?v=1600205842");
    border-radius: 6%;
}

ion-avatar{
    margin-top: auto;
    margin-bottom: auto;
    height: 80px;
    width: 80px;
}

h3{
    padding-top: 20%;
    color: white;
}
.pedido{
    width: 90%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
}

button{ 
    width: 100%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: #4970F0;
    color: white;
    position: fixed;
    bottom: 8px;;
    left: 0;
    right: 0;
    -webkit-box-shadow: 7px 7px 18px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 18px -8px rgba(0,0,0,0.75);
    box-shadow: 7px 7px 18px -8px rgba(0,0,0,0.75);
  }
