<ion-header>
  <ion-toolbar>
    <ion-title>{{categoria}}</ion-title>
    <ion-button (click)="salir()" fill="clear" slot="end">
      <ion-icon slot="end" name="close-circle-outline"></ion-icon>

      Cerrar</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="searchbar">
    <ion-searchbar animated (ionChange)="buscarProd( $event )"
    ></ion-searchbar>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let producto of productos | filtroProd: textoBuscarProd" size="6">
        <ion-card style="margin-left: auto; margin-right: auto; height: 300px; width: 95%;">
          <img style="width: 100%; height: 140px;" [src]="producto.image_producto">
          <div style="height: 90px; width: 90%; margin-left: auto; margin-right: auto;">
            <ion-text color="primary">
              <p style="font-size: 20px">{{producto.nombre_producto}}</p>
            </ion-text>
            <ion-text color="success">
              <p style="font-size: 20px">{{producto.precio_producto}} $</p>
            </ion-text>
          </div>
          <div style="width: 90%; margin-bottom: 10px; margin-left: auto; margin-right: auto;">
            <ion-button  expand="full" size="small" shape="round">
              <ion-icon slot="start" name="cart"></ion-icon>
              Comprar
            </ion-button>
          </div>
        </ion-card>
      </ion-col>      
    </ion-row>
  </ion-grid>

</ion-content>
